/*========== Variables ============*/

$alpha: #252525;
$bravo: #E98134;
$charlie: #4F4F4F;
$delta: #BDBDBD;
$echo: #25884C;
$foxtrot: #6A458D;
$golf: #E12936;
$hotel: #F5B851;

$body:#252525;

$bodyfont:'Open Sans', sans-serif;
$headingfont: 'Quicksand', sans-serif;

$xs: "(max-width: 575px)";
$sm: "(min-width: 576px) and (max-width: 767px)";
$md: "(min-width: 768px) and (max-width: 991px)";
$lg: "(min-width: 992px) and (max-width: 1199px)";
$xl: "(min-width: 992px) and (max-width: 1199px)";
$xxl: "(min-width: 1400px)";